In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, Normalizer
from sklearn.model_selection import train_test_split
import matplotlib
import pylab
from matplotlib import transforms, pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler
import scipy.stats as stats
#
# %matplotlib inline

# Загрузка данных

In [7]:
data = pd.read_csv('./books.csv', sep=',', encoding="utf-8")
data.head(1)

,BookID,Title,Authors,Average_rating,ISBN,ISBN13,Language_code,Num_pages,Ratings_count,Text_reviews_count,Publication_date,Publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.

In [8]:
data = data.reset_index(drop=True)
enc = OrdinalEncoder(categories='auto', dtype=int)
data[["BookID"]] = enc.fit_transform(data[["BookID"]])
row_date_data = data["Publication_date"]
date_data = row_date_data.str.split('/',expand=True)
date_data.columns = ["Publication_month", "Publication_day", "Publication_year"]
date_data = date_data[["Publication_month", "Publication_year"]]
date_data.head(1)
data["Publication_month"] = pd.to_numeric(date_data["Publication_month"])
data["Publication_year"] = pd.to_numeric(date_data["Publication_year"])
data = data.drop(columns="ISBN")
data = data.drop(columns="ISBN13")
data = data.drop(columns="BookID") # удалю признаки номера
data.head(1)

,Title,Authors,Average_rating,Language_code,Num_pages,Ratings_count,Text_reviews_count,Publication_date,Publisher,Publication_month,Publication_year
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,9,2006

In [9]:
# DataFrame не содержащий целевой признак Average_rating
X = data.drop(['Average_rating'], axis=1)
y = data['Average_rating']

In [10]:
data.isnull().sum()

Title                 0
Authors               0
Average_rating        0
Language_code         0
Num_pages             0
Ratings_count         0
Text_reviews_count    0
Publication_date      0
Publisher             0
Publication_month     0
Publication_year      0
dtype: int64